#body {
  font-family: 'Nunito';
  background-color:  #8ccaff;
}
#login-card{
    width: 100%;
    max-width:350px;
    border-radius: 25px;
    display: flex;
    align-items: center;
    height: 100%;
    margin: auto;
}
 
#email, #username,
#password{
    border-radius:30px;
    background-color: white;
    border-color: white;
    color: black;
    box-shadow: 0 0 0 2px black;
}
 
.form-group > select {
  width: 100%;
  border-radius:30px;
  background-color: #ebf0fc;
  border-color: #ebf0fc;
  color: #9da3b0;
  box-shadow: 0 0 0 2px black;
}

#button{
    border-radius:30px;
    box-shadow: 0 0 0 2px black;
}
 
#btn{
   position: absolute; 
   bottom: -35px; 
   padding: 5px;
   margin: 0px 55px;
   align-items: center;
   border-radius: 5px"
}
#container{
    margin-top:25px;
}


.btn-circle.btn-sm { 
  width: 40px; 
  height: 40px; 
  padding: 2px 0px; 
  border-radius: 25px; 
  font-size: 14px; 
  text-align: center;
  box-shadow: 0 0 0 2px black;
  margin: 8px;
}
/* .card{
  box-shadow: 0 2px 2px 2px white;
  background-image: linear-gradient( #07C8F9, #09A6F3);
} */
.text-center {
  text-decoration: none;
  color: white;
}
.text {
  color: red;
}
#judul {
  text-transform: uppercase;
}